#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.transcript-correct {
  color: green;
}

.transcript-remove {
  color: red;
}

.transcript-add {
  color: darkgoldenrod;
}
